<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background:#dddddd">
<nav class="fixed-top">
    <div class="row" style="height:82px">
        <div class="col-md-2 p-2" style="background:#FA748F">
            <a href="/"><img src="/images/Name.png" style="height:60px; width:160px; margin-left:80px" href="/" /></a>
        </div>
        <div class="col-md-3 pt-4" style="background:#FA748F">
            <input class="form-control me-2" type="text" placeholder="" />
        </div>
        <div class="col-md-1 pt-4" style="background:#FA748F">
            <button class="btn bg-white" type="button">Tìm Kiếm</button>
        </div>
        <div class="col-md-6" style="background:#f0f0f0">
            <div class="icon">
                <a href="/gioithieu"><img src="/images/GioiThieu.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:68px" href="/gioithieu" /></a>
                <a href="/AllSanPham"><img src="/images/SanPham.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:60px" href="/AllSanPham" /></a>
                <a href="/UuDai"><img src="/images/ThongBao.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:55px" href="/UuDai" /></a>
                <a href="/LienHe"><img src="/images/LienHe.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:40px" href="/LienHe" /></a>
                <a href="/"><img src="/images/GioHang.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:50px" href="/" /></a>
                <a href="/admin"><img src="/images/TaiKhoan.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:65px" href="/admin" /></a>
            </div>
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/gioithieu" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:27px">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a href="/AllSanPham" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:35px">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a href="/UuDai" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:40px">ƯU ĐÃI</a>
                    </li>
                    <li class="nav-item">
                        <a href="/LienHe" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:38px">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:35px">GIỎ HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:55px">ADMIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

        <% SanPham.forEach(sp => { %>

            <div class="col-3" style="margin-top:20px;">
                <div class="card h-100 mb-1" style="height: 320px">
                    <img src="/images/<%= sp.AnhBia %>" class="card-img-top" width="60%" height="200px" />
                    <div class="card-body">
                        <p class="card-title" style="font-weight: bold;"><%= sp.TenSP %></p>
                    </div>
                    <a style="text-decoration: none; color: #FA748F; margin-left: 100px; font-weight: bold" href="/SanPham/<%= sp._id %>">Xem Chi Tiết</a>
                    <br><br>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<nav class="fixed-bottom">
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br>
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br>
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br>
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="/images/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="/images/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="/images/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>
    </nav>
</body>
</html>
