<!DOCTYPE html>
<html>
<head>
    <title>Giới Thiệu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<nav class="fixed-top">
    <div class="row" style="height:82px">
        <div class="col-md-2 p-2" style="background:#FA748F">
            <a href="/"><img src="/images/Name.png" style="height:60px; width:160px; margin-left:80px" href="/" /></a>
        </div>
        <div class="col-md-3 pt-4" style="background:#FA748F">
            <input class="form-control me-2" type="text" placeholder="" />
        </div>
        <div class="col-md-1 pt-4" style="background:#FA748F">
            <button class="btn bg-white" type="button">Tìm Kiếm</button>
        </div>
        <div class="col-md-6" style="background:#f0f0f0">
            <div class="icon">
                <a href="/gioithieu"><img src="/images/GioiThieu.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:68px" href="/gioithieu" /></a>
                <a href="/AllSanPham"><img src="/images/SanPham.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:60px" href="/AllSanPham" /></a>
                <a href="/UuDai"><img src="/images/ThongBao.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:55px" href="/UuDai" /></a>
                <a href="/LienHe"><img src="/images/LienHe.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:40px" href="/LienHe" /></a>
                <a href="/"><img src="/images/GioHang.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:50px" href="/" /></a>
                <a href="/admin"><img src="/images/TaiKhoan.PNG" style="height:35px; width:45px; margin-top:7px; margin-left:65px" href="/admin" /></a>
            </div>
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/gioithieu" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:27px">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a href="/AllSanPham" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:35px">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a href="/UuDai" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:40px">ƯU ĐÃI</a>
                    </li>
                    <li class="nav-item">
                        <a href="/LienHe" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:38px">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:35px">GIỎ HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" style="text-decoration:none; color:#808080; font-weight:bold; padding-left:55px">ADMIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container" style="height:535px">
            <a style="margin-left:33%"><img src="images/GT.png" style="width:28%; height:25%" /></a>
            <div style="background:#FFE7EC; height:370px; margin-top:15px; margin-right:30px">
                <br />
                <a style="font-weight:bold;margin-left:4%; color:#FA748F; font-size:22px">T&L</a>
                <a style="font-size:22px">là một trong những đơn vị cung ứng mỹ phẩm hàng đầu hiện nay đã nhận được sự tin tưởng và ưu tiên lựa chọn </a><br />
                <a style="margin-left:2%;font-size:22px">của nhiều đối tượng khách hàng trên hành trình đi tìm một nhan sắc hoàn mỹ, phong thái tự tin và cơ hội trong công việc  </a><br />
                <a style="margin-left:2%;font-size:22px">và chỉ phân cuộc sống.<br /></a>
                <br />
                <a style="margin-left:4%;font-size:22px">Ra đời, ổn định và không ngừng phát triển,</a> <a style="font-weight:bold; color:#FA748F; font-size:24px">T&L</a> <a style="font-size:24px">đã định vị thành công thương hiệu trên thị trường, trở thành địa  </a><br />
                <a style="margin-left:2%;font-size:22px">phối mỹ phẩm chính hãng uy tín, chuyên nghiệp, mang những dòng sản phẩm tốt nhất đến cho chị em, kiến tạo thành công  </a><br />
                <a style="margin-left:2%;font-size:22px">những làn da hoàn mỹ, sắc thái tự tin, tất cả vì tương lai và sự hạnh phúc của phụ nữ Việt.</a>
                <br /><br />
                <a style="margin-left:4%;font-size:22px">Tự hào là nơi cung cấp mỹ phẩm, thực phẩm chức năng của các đơn vị hàng đầu thế giới, chúng tôi mang lại cho quý  </a><br />
                <a style="margin-left:2%;font-size:22px">khách hàng đỉnh cao của sự hài lòng tuyệt đối mà họ khó có thể tìm thấy tại bất kỳ một địa chỉ nào khác trên thị trường.</a>
                <br /><br />
                <a style="margin-left:4%;font-size:22px">Với tinh thần trách nhiệm, phương châm hướng đến sự an toàn và hiệu quả, Bonita Beauty đã không ngừng nỗ lực tìm </a><br />
                <a style="margin-left:2%;font-size:22px">kiếm, hợp tác với những dòng thương hiệu lớn, nhằm mang lại cho phụ nữ cơ hội để nâng tầm nhan sắc, gìn giữ thanh </a><br />
                <a style="margin-left:2%;font-size:22px">xuân, tự tin để chinh phục các thử thách lớn trong cuộc đời.</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="auto-style1" style="background:#FA748F; color:#ffffff">
            <br>
            <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
            <a>Thắc mắc - Hỏi đáp</a><br />
            <a>Hướng dẫn mua hàng</a><br />
            <a>Đặt hàng & Thanh toán</a><br />
        </div>
        <div class="auto-style1" style="background:#FA748F; color:#ffffff">
            <br>
            <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
            <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
            <a>Hotline: 012345678 - 098765432</a><br />
            <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
        </div>
        <div class="auto-style1" style="background:#FA748F; color:#ffffff">
            <br>
            <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
            <a></a><br />
            <a href="https://www.facebook.com/"><img src="images/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
            <a href="https://www.instagram.com/"><img src="images/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
            <a href="https://www.twitter.com/"><img src="images/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
            <br />
            <a></a><br />
        </div>
    </div>
</nav>
</body>
</html>